provider "aws" {
  region = "{{ .Resources.Region }}"
}

{{ range .Resources.Compute }} 
module "compute-{{ .Slug }}" {
 source = "{{ $.Path }}/compute" 
 region = "{{ $.Resources.Region }}"
 name = "micorun-{{ .Slug }}"
 instance_type = "{{ .InstanceType }}"
 user_data = "{{ .UserData }}"
}

output "compute-{{ .Slug }}-ip" {
 value = module.compute-{{ .Slug }}.ipv4
}
{{ end }}